.nav_main_container {
  background-color: var(--color1);
  display: flex;
  
}
.nav_container {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 30px;
}
.nav_container a {
  text-decoration: none;
}
.main_logo{
    display: inline;
}